h1,
h2,
h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

/* .banner img {
    display: grid;
    margin-left: 30;
    margin-right: 30;
    width: 20%;
    width: auto;
    height: auto;
} */