{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="mb-3 row">
            <h1>Create a new task</h1>
            <form method="post">
                <table>
                    {% csrf_token %}
                    {{form.as_table}}
                    <tr>
                        <td>&nbsp;</td>
                        <td><button class="btn btn-light ">Create</button></td>
                    </tr>
            </form>
        </div>
    </main>

{% endblock content %}